.blog-posts-preview {
  display: flex;
  justify-content: space-between;
  &__post {
    width: calc(100% / 3);
    margin-right: ($gutter * 2);
    &:last-of-type {
      margin-right: 0;
    }
    h4, span {
      margin: $gutter 0;
    }
    img {
      display: inline-block;
      max-width: 100%;
    }
    span {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
