.button {
  display: inline-block;
  text-decoration: none;
  padding: ($gutter/2) $gutter;
  font-size: .75rem;
  letter-spacing: 1px;
  border-radius: 2px;
  text-transform: uppercase;
  overflow: hidden;
  transition: background 150ms ease-out;
  &--filled {
    &-white {
      color: #000;
      background-color: #fff;
      &:hover {
        background-color: rgba(#fff, .9);
      }
    }
  }
}
