.hashtag-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  &__label {
    margin-right: ($gutter/2);
    font-size: .75rem;
  }
  &__item {
    margin-right: ($gutter/2);
  }
  a {
    text-decoration: none;
    color: inherit;
    &:before {
      content: "#";
      color: rgba($c-red, .75);
    }
    &:hover:before {
      color: rgba($c-red, 1);
    }
  }
  &--small {
    font-size: .875rem;
  }
  &--centered {
    justify-content: center;
  }
}
