$nav-z: 1000;
.nav {
  position: absolute;
  width: 100%;
  padding: ($gutter*3) 0 0;
  z-index: $nav-z;

  // .collection-type-blog & {
  //   position: relative;
  //   padding: ($gutter*3) 0;
  // }

  &__container {
    display: flex;
  }

  // &__logo svg path {
  //   .collection-type-blog & {
  //     fill: #000;
  //   }
  // }

  &__items {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    align-items: center;

    a {
      color: #fff;

      // .collection-type-blog & {
      //   color: #000;
      // }
    }
  }
}
