.masthead {
  $header-z: 900;
  position: relative;
  padding-top: 6rem;
  margin-bottom: ($gutter * 4);
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center center;
    transition: background 2s ease-in-out 500ms;
  }
  &__copy {
    position: relative;
    z-index: ($header-z + 10);
  }
  &__title {
    @extend .container--reading;
    margin-top: 0;
  }
  &__meta {
    @extend .container--reading;
    margin-top: $gutter;
    time {
      &:after {
        content: " //"
      }
    }
  }
  &__content {
    padding-top: ($gutter*2);
    padding-bottom: ($gutter*2);
  }
  &__thumbnail {
    margin-top: ($gutter*2);
  }
  &__image {
    position: relative;
    z-index: ($header-z + 20);
    height: auto;
    width: 100%;
    max-width: 480px;
    margin-bottom: (-$gutter*4);
    border-radius: $border-radius-1;
    box-shadow: $box-shadow-2;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--yellow {
    &.masthead--faded {
      &:after {
        background-color: rgba($c-yellow, .8);
      }
    }
    .masthead {
      &__bg {
        background-color: $c-yellow;
      }
    }
  }

  &--blue {
    &.masthead--faded {
      &:after {
        background-color: rgba($c-blue, .8);
      }
    }
    .masthead {
      &__bg {
        background-color: $c-blue;
      }
    }
  }

  &--overlap-btm {
    padding-bottom: ($gutter*8);
    margin-bottom: (-$gutter*8);
  }
}

@media screen and (min-width: $container-query) {
  .masthead {
    &__content {
      display: flex;
      align-items: center;
      padding-top: 10vw;
    }
    &__thumbnail {
      padding-left: ($gutter*2);
    }
    &__image {
      width: #{$container-width - $container-width--reading};
      bottom: auto;
      margin-bottom: 0;
      max-width: initial;
    }
  }
}
