$z-modal: 1000;
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-modal;
  width: 100%;
  height: 100%;
  cursor: default;
  background-color: rgba(#000, 0);
  transition: background 250ms ease-out;
  &__container {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transform: translateY($gutter);
    opacity: .25;
    transition: all 150ms ease-out;
    transition-property: transform, opacity;
  }
  &__close {
    position: absolute;
    height: ($gutter*2);
    width: ($gutter*2);
    right: ($gutter/2);
    top: ($gutter/2);
    border: 0;
    outline: none;
    background-color: rgba(#000, .35);
    cursor: pointer;
    user-select: none;
    transition: all 150ms ease-out;
    transition-property: opacity, transform;
    &:hover,
    &:focus {
      transform: scale(.95);
    }
    &:active {
      transform: scale(.9);
      opacity: .9;
    }
  }
  &__image,
  &__copy {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
  }
  &__image {
    top: 0;
    height: 30%;
    background-size: cover;
    background-position: center center;
    background-color: rgba(#000, .2);
  }
  &__copy {
    bottom: 0;
    height: 70%;
    overflow: scroll;
    padding: $gutter ($gutter*2) ($gutter*2);
    text-align: left;
    color: $c-body;
  }
  &__grant-title {
    color: $c-hint;
  }
  &__body {
    margin-top: $gutter;
  }
  &--visible {
    background-color: rgba(#000, .75);
    .modal {
      &__container {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  &--loading {
    .modal {
      &__container {
        background-color: rgba(#fff, .1);
      }
    }
  }
}

@media screen and (min-width: $mobile-query) {
  .modal {
    padding: ($gutter*5) $gutter $gutter;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container {
      border-radius: $border-radius-2;
      box-shadow: $box-shadow-2;
      overflow: hidden;
    }
    &__image,
    &__copy {
      width: 50%;
      height: 100%;
    }
    &__copy {
      right: 0;
      left: auto;
    }
    &__close {
      height: 48px;
      width: 48px;
      right: 8px;
      top: 16px;
      height: ($gutter*3);
      width: ($gutter*3);
      right: ($gutter/2);
      top: $gutter;
      background-color: transparent;
    }
  }
}


@media screen and (min-width: $container-query--modal) {
  .modal {
    &__container {
      max-height: 540px;
    }
    &__close {
      top: $gutter;
      right: $gutter;
      width: ($gutter*4);
      height: ($gutter*4);
    }
  }
}
