.pill-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  &__item {
    @extend .copy--nowrap;
    background: $c-blue;
    color: #fff;
    font-size: .75rem;
    letter-spacing: 1px;
    padding: ($gutter/4) ($gutter);
    border-radius: 20px;
    margin-right: ($gutter/2);
    &:last-of-type {
      margin-right: 0;
    }
    a {
      @extend .copy--antialiased;
      color: inherit;
      text-decoration: none;
    }
    &--small {
      font-size: .6275rem;
      padding: ($gutter/8) ($gutter/2);
      letter-spacing: 1px;
    }
    @each $color, $c-var in $map-colors {
      &--#{$color} {
        background: $c-var;
      }
    }
  }
}
