.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  opacity: 1;
  transition: all 250ms ease-out 250ms;
  transition-property: transform, opacity;
  &--hidden {
    transform: translateY(-100%);
  }
  &__mask {
    transform: scaleX(0);
    transition: transform 250ms ease-out;
  }
}
