$nav-z: 1000;
$nav-transition-dur: 250ms;
.top-bar {
  position: absolute;
  width: 100%;
  padding: $gutter 0;
  z-index: $nav-z;

  &__container {
    html:not(.js) & {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    position: relative;
    z-index: #{$nav-z + 50};
    display: inline-block;
    height: $nav-height;
    width: 180px;
    margin-right: $gutter;
    color: #fff;

    html:not(.js) & {
      flex-basis: 300px;
    }

    .logo-svg {
      &__subline {
        display: none;
      }
    }
  }

  &__items {
    html:not(.js) & {
      flex-grow: 1;
      text-align: right;
      a {
        margin-left: ($gutter/2);
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  &--mobile {
    .top-bar {
      &__items {
        position: relative;
        z-index: #{$nav-z + 50};
        margin: 0 (-$gutter);
        transform: translateY((-$gutter));
        pointer-events: none;
        opacity: 0;
        transition: all $nav-transition-dur ease-out ($nav-transition-dur/2);
        nav {
          display: flex;
          flex-direction: column;
          padding: ($gutter*2) $gutter;
        }
        a {
          display: inline-block;
          font-size: 1.5rem;
          text-decoration: none;
          margin-bottom: $gutter;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $nav-query-max) {
  .top-bar {
    .js & {
      position: fixed;
      background-color: $c-brand;
      border-bottom: 2px solid darken($c-brand, 7.5%);
      height: $nav-height;
      padding: 0;
      overflow: hidden;
      transition: height $nav-transition-dur ease-in-out;

      &:after {
        content: "";
        position: absolute;
        background-color: darken($c-brand, 5%);
        top: $nav-height;
        height: 100%;
        width: 100%;
      }

      &.top-bar--active {
        height: 100vh;
        border-color: transparent;
        .top-bar {
          &__items {
            pointer-events: initial;
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  .logo-svg {
    position: relative;
    top: 12px;
  }
}

@media screen and (min-width: $nav-query) {
  .top-bar {
    padding: ($gutter*3) 0 0;
    &__container {
      display: flex;
    }
    &__logo {
      flex-basis: 240px;
      .logo-svg__subline {
        display: initial;
      }
      &:hover {
        .logo-svg__subline {
          transform: scale(1.05);
        }
      }
      &:active {
        .logo-svg__subline {
          transform: scale(1.025);
        }
      }
    }
    &__items {
      display: flex;
      flex-grow: 1;
      flex-direction: row-reverse;
      align-items: center;
    }
    &__link {
      position: relative;
      display: inline-block;
      padding: ($gutter/2) 0;
      margin-right: $gutter;
      font-size: .75rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      &:last-of-type {
        margin-right: 0;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(-100%);
        height: 2px;
        width: 100%;
        border-radius: 1px;
        overflow: hidden;
        background-color: rgba(#fff, 0);
        transition: all ease-out 100ms 100ms;
        transition-property: transform, background;
      }
      &:hover {
        &:after {
          transform: translateY(0%);
          background-color: rgba(#fff, .75);
          transition-delay: 0ms;
        }
      }
      &:active,
      &--active {
        &:after {
          height: 2px;
          transform: translateY(0%);
          background-color: #fff !important;
        }
      }
    }
  }
}

// top-bar.js - added via Javascript
.menu-button {
  position: absolute;
  top: 13px;
  right: $gutter;
  display: block;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: #fff;
  outline: 0;
  cursor: pointer;
  user-select: none;
  transition: background 100ms ease-in-out 50ms;
  &__svg,
  &__bar {
    transition: transform ($nav-transition-dur / 2) ease-in-out,
                opacity ($nav-transition-dur / 2) ease-in-out,
                stroke-width #{($nav-transition-dur / 2) - 50ms} ease-in-out; // has 50ms transition delay
  }
  &__bar {
    stroke-width: 0px;
    stroke: currentColor;
  }
  &--is-open {
    background-color: darken($c-brand, 5%);
    border-radius: $border-radius-1;
    .menu-button {
      &__svg {
        transform: scale(.5);
      }
      &__bar {
        stroke-width: 2px;
        transition-delay: 50ms;
        &--top {
          transform: rotate(45deg) translate(5%, -300%);
          transform-origin: top left;
        }
        &--middle {
          opacity: 0;
          transform: scale(.5);
          transform-origin: center center;
        }
        &--bottom {
          transform: rotate(-45deg) translate(5%, 300%);
          transform-origin: bottom left;
        }
      }
    }
  }
}

.logo-svg {
  &__subline {
    transform-origin: center;
    transition: transform 150ms ease-out;
  }
}
