.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $gutter;

  @media screen and (min-width: $container-query) {
    padding-left: 0;
    padding-right: 0;
  }
  &--reading {
    max-width: $container-width--reading;
  }
}
