@media screen and (max-width: $mobile-query-max) {
  .js body > main {
    position: relative;
    padding-top: 56px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 56px;
      width: 100%;
      background-color: $c-brand;
    }
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $gutter;

  @media screen and (min-width: $container-query) {
    padding-left: 0;
    padding-right: 0;
  }
  &--reading {
    max-width: $container-width--reading;
  }
  &--modal {
    max-width: $container-width--modal;
  }
}
