body {
  font-size: 1rem;
  line-height: $line-height-body;
}

body, .body {
  font-family: 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: $c-body;
  text-transform: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4,
h5,
h6,
.heading {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: $line-height-heading;
  text-transform: uppercase;
  font-weight: 400;
}

.copy {
  a {
    position: relative;
    text-decoration: none;
    color: $c-body;
    &:after {
      $underline-horz-delta: 2px;
      content: "";
      position: absolute;
      bottom: -2px;
      left: -$underline-horz-delta;
      height: 2px;
      width: 100%;
      background-color: rgba($c-body, .25);
      border-radius: 1px;
      transition: all 150ms ease-out;
    }
    &:hover:after {
      background-color: rgba($c-body, .75);
    }
  }
  &--small {
    font-size: 0.875rem;
  }
  &--large {
    font-size: 1.125rem;
    line-height: 2;
    h1, .h1 {
      font-size: 2.25rem;
      letter-spacing: 2px;
    }

    h2, .h2 {
      font-size: 1.5rem;
      letter-spacing: 2px;
    }

    h3, .h3 {
      font-size: 1.25rem;
      letter-spacing: 1px;
    }

    h4, .h4 {
      font-size: 1rem;
      letter-spacing: 1px;
    }
  }
  &--xlarge {
    font-size: 1.125rem;
  }
  &--action {
    font-size: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &--light {
    color: #fff;
    a {
      color: inherit;
      &:after {
        background-color: rgba(#fff, .25);
      }
      &:hover:after {
        background-color: rgba(#fff, .75);
      }
    }
  }
  &--antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &--nowrap {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: $mobile-query) {
  .copy {
    &--large {
      h1, .h1 {
        font-size: 4rem;
        letter-spacing: 4px;
      }
      h2, .h2 {
        font-size: 3rem;
        letter-spacing: 3px;
      }
      h3, .h3 {
        font-size: 1.75rem;
        letter-spacing: 1px;
      }
      h4, .h4 {
        font-size: 1.25rem;
        letter-spacing: 1px;
      }
    }
    &--xlarge {
      font-size: 1.75rem;
    }
  }
}
