body {
  font-size: 1rem;
  font-family: 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: $line-height-body;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: $line-height-heading;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tt-up {
  text-transform: uppercase;
}
