body {
  font-size: 1rem;
  line-height: $line-height-body;
}

body, .body {
  font-family: 'Libre Franklin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .heading {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: $line-height-heading;
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  letter-spacing: 4px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
