$z-about-us: 500;

.guiding-section {
  padding-top: ($gutter*2);
  padding-bottom: ($gutter*2);
  &__intro {
    margin-bottom: ($gutter*2);
  }
  &--centered {
    text-align: center;
    .guiding-section {
      &__intro {
        h1 {
          @extend .copy--antialiased;
          background-color: $c-red;
          color: #fff;
          padding: ($gutter/2) $gutter;
          margin: 0;
          border-radius: $border-radius-2;
        }
      }
    }
  }
  &--red {
    background-color: $c-red;
    .guiding-section {
      &__body {
        h1, h2, h3 {
          margin-bottom: 0;
          border-radius: $border-radius-2;
          padding: $gutter;
          background-color: $c-red;
          color: #fff;
          background-color: darken($c-red, 5%);
        }
      }
    }
  }
}

@media screen and (max-width: $container-query-max--reading) {
  .guiding-section {
    &__body {
      .col {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $mobile-query) {
  .guiding-section {
    padding-top: ($gutter*4);
    padding-bottom: ($gutter*4);
  }
}

.about-us-gallery {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 50%;
    width: 100%;
    background-color: $c-red;
  }
  &__container {
    position: relative;
    z-index: ($z-about-us+50);
  }
  img {
    border-radius: $border-radius-2;
    box-shadow: $box-shadow-2;
  }
  &--top {
    margin-top: ($gutter*2);
    &:after {
      bottom: 0;
    }
  }
  &--bottom {
    &:after {
      top: 0;
    }
  }
}

.about-us-data {
  margin: ($gutter*2) 0 ($gutter*4);
  text-align: center;
  color: #fff;
  padding: 0 $gutter;
  @extend .copy--antialiased;
  h1 {
    margin: 0;
    em {
      font-size: 0.66em;
    }
  }
  h2 {
    margin: $gutter 0 0;
    em {
      display: block;
      color: $c-red;
    }
  }
  em {
    font-style: normal;
  }
  .row,
  .sqs-row {
    display: flex;
  }
  .col.span-3 {
    border-radius: $border-radius-2;
    box-shadow: $box-shadow-3;
    background-color: $c-red;
    padding: $gutter 0;
    margin-right: $gutter;
    em {
      color: saturate(lighten($c-red, 30%), 12.5%);
    }
  }
}

@media screen and (max-width: $container-query-max--reading) {
  .about-us-data {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.125rem;
      margin-top: ($gutter/2);
    }
    .row,
    .sqs-row {
      flex-direction: column;
    }
    .col.span-3 {
      width: 100%;
      margin-bottom: $gutter;
    }
  }
}

@media screen and (min-width: $container-query--reading) and (max-width: $container-query-max) {
  .about-us-data {
    .row,
    .sqs-row {
      flex-wrap: wrap;
      justify-content: center;
    }
    .col.span-3 {
      width: 300px;
      margin-bottom: $gutter;
    }
  }
}

@media screen and (min-width: $container-query) {
  .about-us-data {
    h1 {
      font-size: 4.25rem;
    }
    .row,
    .sqs-row {
      align-items: center;
    }
    .col.span-3 {
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
