.header {
  $header-z: 900;
  position: relative;
  padding-top: 6rem;
  margin-bottom: ($gutter * 4);
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: luminosity;
    background-color: $c-yellow;
    background-size: cover;
    background-position: center center;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($c-yellow, .8);
  }
  &__copy {
    position: relative;
    padding-top: 10vw;
    padding-bottom: 5vw;
    z-index: ($header-z + 10);
  }
  &__title {
    @extend .container--reading;
    margin-top: 0;
  }
  &__meta {
    @extend .container--reading;
    margin-top: $gutter;
    time {
      &:after {
        content: " //"
      }
    }
  }
  &__image {
    position: relative;
    bottom: (-$gutter*2);
    z-index: ($header-z + 20);
    height: auto;
    width: 100%;
    max-width: 480px;
    margin-bottom: -5vw;
    box-shadow: $box-shadow-2;
  }
}

@media screen and (min-width: $container-query) {
  .header {
    &__image {
      position: absolute;
      width: #{$container-width - $container-width--reading};
      right: 0;
      top: 10vw;
      bottom: auto;
      margin-top: $gutter;
      margin-bottom: 0;
      max-width: initial;
      transform: rotate(10deg);
      transform-origin: bottom left;
    }
  }
}

.blog-post {
  &__content {
    .html-block {
      max-width: $container-width--reading;
    }
  }
}
