$max-width--video: 860px;

.home-section {
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  padding-top: ($gutter*8);
  padding-bottom: ($gutter*8);
  color: #fff;
  &:first-of-type {
    padding-top: ($gutter*12);
  }
  &--red {
    background-color: $c-red;
  }
  &--green {
    background-color: $c-green;
  }
  &--blue {
    background-color: $c-blue;
    background-position: center center;
  }
  p {
    line-height: 1.75;
    font-weight: 600;
  }
}

.splash {
  position: relative;
  max-width: $max-width--video;
  margin: 0 auto;
  @extend %sq-no-padding;

  &__video {
    box-shadow: $box-shadow-2;
    .sqs-video-wrapper {
      border-radius: $border-radius;
      overflow: hidden;
      .sqs-video-icon {
        color: #fff;
        background-color: rgba(#000, .25);
        &:before,
        &:after {
          @extend .body;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          height: 100%;
          background-color: rgba(#000, .25);
          font-size: .75rem;
          font-weight: 600;
          letter-spacing: 1px;
        }
        &:before {
          content: "WATCH";
          left: 0;
          transform: translate(-100%, -50%);
          border-radius: 24px 0 0 24px;
          padding-left: $gutter;
        }
        &:after {
          content: "VIDEO";
          right: 0;
          transform: translate(100%, -50%);
          border-radius: 0 24px 24px 0;
          padding-right: $gutter;
        }
      }
    }
    .video-caption-wrapper {
      text-align: center;
      p {
        font-size: 1.25rem;
        color: #fff;
        letter-spacing: 1px;
        margin: $gutter 0 0;
      }
    }

    .sqs-video-opaque {
      opacity: .15;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 560px) {
  .splash {
    &__video {
      .video-caption-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 200;
        padding: 0 $gutter;
        pointer-events: none;
        transition: opacity 150ms ease-out;

        p {
          font-size: 1.75rem;
          letter-spacing: 2px;
          margin: 0;
        }
      }
      .sqs-video-wrapper {
         background-color: desaturate(darken($c-red, 20%), 20%);

        .sqs-video-icon {
          top: auto;
          bottom: $gutter;
          background-color: transparent;
          &:before,
          &:after {
            background-color: transparent;
          }
        }
       }
      &--playing {
        .video-caption-wrapper {
          opacity: 0;

          // prevents caption from hiding during edit mode
          .sqs-edit-mode-active & {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: #{$max-width--video + ($gutter * 2)}) {
  .splash {
    &__video {
      .video-caption-wrapper {
        padding: 0;
        margin: 0 (-$gutter*3);
        p {
          font-size: 2.5rem;
          letter-spacing: 3px;
        }
      }
      .sqs-video-wrapper .sqs-video-icon {
        bottom: ($gutter*2);
      }
    }
  }
}

.home-columns {
  &--map {
    .col {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1.5);
        opacity: .5;
        transform-origin: left top;
        background-image: url('/assets/home-map.svg');
        background-size: auto 100%;
        width: 100%;
        height: 0;
        padding-bottom: 43%;
      }
    }
  }
  .html-block {
    p {
      &:not(:last-of-type) {
        a {
          position: relative;
          color: #fff;
          text-decoration: none;
          &:after {
            $underline-horz-delta: 2px;
            content: "";
            position: absolute;
            bottom: -2px;
            left: -$underline-horz-delta;
            height: 2px;
            width: calc(100% + #{2 * $underline-horz-delta});
            background-color: rgba(#fff, .25);
            border-radius: 1px;
            transition: all 150ms ease-out;
          }
          &:hover:after {
            background-color: rgba(#fff, .75);
          }
        }
      }
      &:last-of-type {
        a {
          margin-top: $gutter;
          @extend .button;
          @extend .button--filled-white;
        }
      }
    }
  }
  .sqs-gallery {
    img {
      border-radius: $border-radius;
      box-shadow: $box-shadow-1;
    }
  }
}

@media screen and (max-width: $mobile-query-max) {
  .home-columns {
    .sqs-row {
      display: flex;
      flex-direction: column;
    }
    .sqs-col-6 {
      width: 100%;
    }
    .sqs-gallery {
      display: flex;
      align-items: center;
      margin-top: $gutter;
      .image-wrapper {
        margin-right: $gutter;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $mobile-query) {
  .home-columns {
    &--map {
      .col {
        width: 50%;
        &:before {
          top: 50%;
          left: 0;
          transform: translate(100%, -50%) scale(2.5);
          transform-origin: center left;
          opacity: 1;
        }
      }
    }
    .sqs-gallery {
      .image-wrapper {
        margin-bottom: $gutter;
        max-width: 420px;
        &:nth-of-type(even) {
          float: right;
        }
        &:nth-of-type(odd) {
          margin-left: auto;
          margin-right: auto;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .home-columns {
    &--map {
      .col {
        &:before {
          transform: translate(100%, -50%) scale(2);
        }
      }
    }

    .sqs-row {
      display: flex;
      align-items: center;
    }
    .html-block {
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
