$max-width--video: 860px;

.home-section {
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  overflow: hidden;
  padding-top: ($gutter*8);
  padding-bottom: ($gutter*8);
  &:first-of-type {
    padding-top: ($gutter*12);
  }
  &--red {
    background-color: $c-red;
  }
  &--green {
    background-color: $c-green;
  }
  &--blue {
    background-color: $c-blue;
    background-position: center center;
  }
  &--yellow {
    background-color: $c-yellow;
  }
  &--grain {
    background-color: $c-offwhite;
    background-repeat: repeat;
    background-size: auto;
  }
  &--y-small {
    padding-top: ($gutter*4);
    padding-bottom: ($gutter*4);
  }
  p {
    line-height: 1.75;
    font-weight: 600;
  }
}

.splash {
  position: relative;
  max-width: $max-width--video;
  margin: 0 auto;
  @extend %sq-no-padding;

  &__video {
    box-shadow: $box-shadow-2;
    // TODO: add hover to show icon background
    .sqs-video-wrapper {
      border-radius: $border-radius;
      overflow: hidden;
      .sqs-video-icon {
        background-color: rgba(#000, .25);
        &:before,
        &:after {
          @extend .body;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          height: 100%;
          background-color: rgba(#000, .25);
          color: #fff;
          font-size: .75rem;
          font-weight: 600;
          letter-spacing: 1px;
        }
        &:before {
          content: "WATCH";
          left: 0;
          transform: translate(-100%, -50%);
          border-radius: 24px 0 0 24px;
          padding-left: $gutter;
        }
        &:after {
          content: "VIDEO";
          right: 0;
          transform: translate(100%, -50%);
          border-radius: 0 24px 24px 0;
          padding-right: $gutter;
        }
      }
    }
    .video-caption-wrapper {
      text-align: center;
      p {
        font-size: 1.25rem;
        letter-spacing: 1px;
        margin: $gutter 0 0;
      }
    }

    .sqs-video-opaque {
      opacity: .15;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 560px) {
  .splash {
    &__video {
      .video-caption-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 200;
        padding: 0 $gutter;
        pointer-events: none;
        transition: opacity 150ms ease-out;

        p {
          font-size: 1.75rem;
          letter-spacing: 2px;
          margin: 0;
        }
      }
      .sqs-video-wrapper {
         background-color: desaturate(darken($c-red, 20%), 20%);

        .sqs-video-icon {
          top: auto;
          bottom: $gutter;
          background-color: transparent;
          &:before,
          &:after {
            background-color: transparent;
          }
        }
       }
      &--playing {
        .video-caption-wrapper {
          opacity: 0;

          // prevents caption from hiding during edit mode
          .sqs-edit-mode-active & {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: #{$max-width--video + ($gutter * 2)}) {
  .splash {
    &__video {
      .video-caption-wrapper {
        padding: 0;
        margin: 0 (-$gutter*3);
        p {
          font-size: 2.5rem;
          letter-spacing: 3px;
        }
      }
      .sqs-video-wrapper .sqs-video-icon {
        bottom: ($gutter*2);
      }
    }
  }
}

.home-columns {
  &--map {
    .col,
    .sqs-col {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1.5);
        opacity: .5;
        transform-origin: left top;
        background-image: url('/assets/home-map.svg');
        background-size: auto 100%;
        width: 100%;
        height: 0;
        padding-bottom: 43%;
      }
    }
  }
  .html-block {
    p {
      &:last-of-type {
        margin-top: ($gutter*2);
        a {
          @extend .button;
          @extend .button--filled-white;
        }
      }
    }
  }
  .sqs-gallery {
    img {
      border-radius: $border-radius;
      box-shadow: $box-shadow-1;
    }
  }
}

@media screen and (max-width: $mobile-query-max) {
  .home-columns {
    .sqs-row {
      display: flex;
      flex-direction: column;
    }
    .sqs-col-6 {
      width: 100%;
    }
    .sqs-gallery {
      display: flex;
      align-items: center;
      margin-top: $gutter;
      .image-wrapper {
        margin-right: $gutter;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $mobile-query) {
  .home-columns {
    &--map {
      .col,
      .sqs-col {
        width: 50%;
        &:before {
          top: 50%;
          left: 0;
          transform: translate(100%, -50%) scale(2.5);
          transform-origin: center left;
          opacity: 1;
        }
      }
    }
    .sqs-gallery {
      .image-wrapper {
        margin-bottom: $gutter;
        max-width: 420px;
        &:nth-of-type(even) {
          float: right;
        }
        &:nth-of-type(odd) {
          margin-left: auto;
          margin-right: auto;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .home-columns {
    &--map {
      .col,
      .sqs-col {
        &:before {
          transform: translate(100%, -50%) scale(2);
        }
      }
    }

    .sqs-row {
      display: flex;
      align-items: center;
    }
    .html-block {
      max-width: 520px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.home-blockquote {
  .sqs-row {
    display: flex;
    align-items: center;
  }
  blockquote {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
    &:before,
    &:after {
      font-size: 1.5rem;
      opacity: .25;
      line-height: 1;
    }
    &:before {
      content: "\201C";
      margin-right: 4px;
    }
    &:after {
      content: "\201D";
      margin-left: 4px;
    }
    & + * {
      font-size: .85em;
      font-weight: 400;
    }
  }
  .image-block-wrapper {
    box-shadow: $box-shadow-1;
    border-radius: $border-radius;
  }
}

@media screen and (max-width: $mobile-query-max) {
  .home-blockquote {
    .sqs-row {
      flex-direction: column;
    }
    .col {
      width: 100%;
      &:last-of-type:not(:first-of-type) {
        padding: 0 30%;
      }
    }
  }
}

@media screen and (min-width: $mobile-query) {
  .home-blockquote {
    blockquote {
      &:before,
      &:after {
        font-size: 2rem;
      }
      &:before {
        position: absolute;
        top: 4px;
        left: -4px;
        transform: translateX(-100%);
      }
      & + * {
        font-size: 1.25rem;
      }
    }
    .image-block-wrapper {
      border: 8px solid #fff;
    }
  }
}
